#body-tittle{
  margin: auto;
  background-color: #1abc9c;
  font-weight: bolder;
  font-size: 50px;
}
p {
  background-color:  #1abc9c;
    font-size: 50px;
}
#head-background{
background-image: url("1.jpg");
height: 700px;
margin: 0;

;}
#head-tittle{

  color: #FFFFFF;
  font-size: 50px;
  letter-spacing: 0.1em;
position: sticky;
  margin-left: 300px;
margin-top: 0px;
}
li {
  font-size: 30px;
  color: #ADFF2F;
}
